@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap');

.navbar{
    height: 80px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    background-color: brown !important;
}

.nav-escondido-logo{
  background-color:brown ;
  font-family: 'Kanit', sans-serif;
  color: aliceblue;

}

.nav-escondido-links{
  background-color:brown ;
  color: aliceblue;
}

#logo{

  font-size: 30px;
  font-family: 'Kanit', sans-serif;
  color: aliceblue;

}

.navbar a{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: #333333;
    font-style: italic;
    font-weight: bold;
    margin-left: 40px;
    border-radius: 10%;
    color: aliceblue;
}

.links:hover {
    color: #0b0000 !important;
  }

  #whatsapp {
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	font-size:30px;
	z-index:100;
  }

  #whatsapp-icon {
	margin-top:10px;
  }

  @media only screen and (max-width: 770px){
    #whatsapp {
      width: 45px;
      height: 45px;
      right:5px;
      font-size: 30px;
    }
 
    #whatsapp-icon{
      padding-bottom: 5px;
      margin-top:1px;
    }
    }

    @media only screen and (max-width: 400px){
#logo{
  font-size: 25px;
}
    }